.grid {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.grid::before, .grid::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-position: inherit;
    pointer-events: none;
}

.grid::before {
    background-image: url('data:image/svg+xml;charset=utf8,<svg width="48" height="48" xmlns="http://www.w3.org/2000/svg" stroke="rgba(56, 178, 243, 0.25)"><path d="M 0 0 L 48 0" /></svg>');
}

.grid::after {
    background-image: url('data:image/svg+xml;charset=utf8,<svg width="48" height="48" xmlns="http://www.w3.org/2000/svg" stroke="rgba(56, 178, 243, 0.25)"><path d="M 0 0 L 0 48" /></svg>');
}
